{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <h3 class="page-header">Add Ticket</h3>

    <div class="row">
        <div class="col-sm-12">
            <form action="" method="post">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Price_per_adult:</label> 
{{ form.price_per_adult }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Total_price_per_adult:</label> 
{{ form.total_price_per_adult }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Taxes:</label> 
{{ form.taxes }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Final_total_price:</label> 
{{ form.final_total_price }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Hour_leave:</label> 
{{ form.hour_leave }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Hour_arrive:</label> 
{{ form.hour_arrive }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Stops:</label> 
{{ form.stops }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Durations:</label> 
{{ form.durations }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Url:</label> 
{{ form.url }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Data_trip:</label> 
{{ form.data_trip }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Origin:</label> 
{{ form.origin }} 
 </div> 
 </div> 
<div class="col-xs-12"> 
 <div class="form-group"> 
 <label>Destination:</label> 
{{ form.destination }} 
 </div> 
 </div> 

                    </div>
                    <div class="panel-footer">
                        <div id="actions" class="row">
                            <div class="col-md-12">
                                <button id="btn_salvar" class="btn btn-primary" type="submit">
                                    Add Ticket
                                </button>
                                <a href="{% url 'TICKET_list' %}" class="btn btn-default">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ticket_link').addClass('active');
        });
    </script>
{% endblock %}
