{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <div id="top" class="row">
        <div class="col-sm-3">
            <h2> {{ model_name_plural }}</h2>
        </div>
        <div class="col-sm-3 col-sm-offset-6">
            <a href="{% url 'THREAD_create' %}" class="btn btn-primary pull-right h2"><i
                    class="fa fa-plus"></i> Add Thread
            </a>
        </div>
    </div> <!-- /#top -->
    <hr/>
    <div id="list" class="row">
        <div class="col-md-12">
            <table id="table" class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                     <th>ID</th> 
 <th>TITLE</th> 
 <th>DESCRIPTION</th> 
 <th>TYPE_TEMPO</th> 
 <th>TIME_TEMPO</th> 
 <th>USER</th> 
 <th>ORIGIN</th> 
 <th>DESTINATION</th> 
 <th>START_DATE</th> 
 <th>END_DATE</th> 

                    <th class="actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </div> <!-- /#list -->
    <script type="text/javascript">

    $(document).ready(function () {
            $('#thread_link').addClass('active');
            $('#table').DataTable({
            "processing": true,
                "serverSide": true,
                "ajax": "{% url 'THREAD_list_json' %}",
                columnDefs: [
                    {
                        targets: -1,
                        data: 'id',
                        "render": function (data, type, row, meta) {
                            return '<a href="/thread/' + row[0] + '/"><i\n' +
                                '                                    class="fa fa-eye"></i></a>&nbsp;&nbsp;' +
                                '<a href="/thread/'+row[0]+'/delete/"> <i\n' +
                                '                                    class="fa fa-close"></i></a>';
                        }
                    }
                ],
                order: [[0, "desc"]],
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nenhum item encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "emptyTable": "Sem dados disponíveis na tabela",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "thousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para classificar a coluna ascendente",
                        "sortDescending": ": ativar para classificar a coluna descendente"
                    }
                }
            });

        });
    </script>

{% endblock %}
